* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}
.div--nav {
    margin-top: -20px;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
   z-index: 1005;
}



/*  
NAVIGATION
*/
/*
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    height: 100px;
}
*/

.logo {
    width: 150px;
    height: 40px;
  }

.nav__link--list {
    width: 100%;
    max-width: 430px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__link {
  
    margin: 0 12px;
}

.nav__link--anchor {
    color: white;
    font-size: 18px;  
    font-weight: 600;
  }


  .nav__link--anchor--primary {
    background-color: white;
    color: #6030b1 !important;
    padding: 8px 20px;
    border-radius: 50px;
   
  }

 .navbar {
    height: 326px;
    padding: 40px 15px;
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
  

.search {
    margin-top: 40px;
    align-items: center;
    display: flex;
    flex-direction: column;
    z-index: 2;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    
}

.search-wrapper {
    position: absolute;
    cursor: pointer;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 10000;
    padding: 0 20px 0 8px;
    color: #6030b1;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.input-wrap {
    width: 100%;
    max-width: 600px;
    position: relative;
    border-radius: 50px;
    overflow: hidden;
}

input {
    color: rgba(0, 0, 0, .87);
    width: 100%;
    max-width: 800px;
    height: 60px;
    font-size: 20px;
    padding-left: 20px;
}

h1 {
    font-weight: 500;
    letter-spacing: 2px;
    text-align: center;
    letter-spacing: .1em;
    font-size: 45px;
    max-width: 1000px;
    margin-bottom: 40px;
    color: #fff;
}

.overlay {
    background-image:url(./assets/carpark.8742e246.jpeg); ;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
}
.overlay:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(41, 25, 71, .83);
    pointer-events: none;
}

